.vagrant/
ssl.crt
ssl.key
backups/*
community
inventory/host_vars/*/secrets.yml
*.log
**/*.retry
.idea/
.DS_Store
ofn_india_ssh_keys
ofn_india_cred_file.json
files/keys/ofn-admin.pub
files/keys/satyasarathy_gmail_com.pub
